.Button-Number-0:hover {
    font-size: 50px;
}

.Button-Number-1:hover {
    font-size: 50px;
}

.Button-Number-2:hover {
    font-size: 50px;
}

.Button-Number-3:hover {
    font-size: 50px;
}

.Button-Number-4:hover {
    font-size: 50px;
}

.Button-Number-5:hover {
    font-size: 50px;
}

.Button-Number-6:hover {
    font-size: 50px;
}

.Button-Number-7:hover {
    font-size: 50px;
}

.Button-Number-8:hover {
    font-size: 50px;
}

.Button-Number-9:hover {
    font-size: 50px;
}

.Button-Equals:hover {
    font-size: 50px;
}

.Button-Number-9:hover {
    font-size: 50px;
}

.Button-Equals:hover {
    font-size: 50px;
}

.Button-Division:hover {
    font-size: 50px;
}

.Button-Multiply:hover {
    font-size: 50px;
}

.Button-Subtraction:hover {
    font-size: 50px;
}

.Button-Sum:hover {
    font-size: 50px;
}

.Button-Delete:hover {
    font-size: 50px;
}



